 <section>
 	       <%= render 'shared/success' %>   	
    	   <p align="center"><strong><%=@article.title%></strong><p>
		   <p align="center">
		   	   <small>标签:<%=@article.tag%> &nbsp; &nbsp; &nbsp; 
		   	   	     新建时间:<%=@article.created_at%>&nbsp; &nbsp; &nbsp;
		   	   	     文章作者:<%= @article_user.name%>
		   	   </small>
		   </p>

		   		    
		    </br>
		   <%=raw @article.content%>
			</br>	
 </section>				
